p Здравствуйте, #{@resource.email}!

p Кто-то запросил ссылку на изменение пароля. Вы можете изменить свой пароль по ссылке ниже.

p
  = link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)

p Если запрос сделали не Вы, пожалуйста, проигнорируйте это сообщение.
p Ваш пароль не изменится, пока вы не откроете ссылку выше и не создадите новый.
